@import url(fonts/style.css);
@import url(main.css);
@import url(slider.css);

*{
	margin: 0;
	padding: 0;
}


/*Fondo de la pagina*/
body{
	color: white;
	background-color: black;
	}




.main{
	width: 100%;
    height: 40%;
	background: url(../img/fondo1.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 3000px;
}






/*Iconos*/

.icon-search{
	font-size: 25px;
	text-align: center;
    z-index: 100;
}

	.icon-search label{
		color: black;
		font-size: 50px;
	}

.icon-home{
	margin-right: 10px;
}

.icon-star-empty{
	margin-right: 20px;
}

.icon-menu3{
    margin-left: 20px;
}

.icon-arrow-right{
    margin-left: 125px;
}

.icon-radio-checked{
    margin-right: 5px;
}

.icon-eye{
    margin-right: 10px;
}

.icon-download{
    margin-right: 10px;
}

.icon-star-full{
    margin-right: 10px;
}

.icon-grin2{
    margin-right: 10px;
}

.icon-frustrated2{
    margin-right: 10px;
}



/*La seccion de noticias*/

.noticias{
    background-image: url(../img/fondonoticias1.jpg);
    margin-left: 15px;
    margin-top: 30px;
	display: inline-block;
	width: 25%;
    height: 400px;
    margin-bottom: 100px;
    float: left;
}




